#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

main h2 {
  margin-top: 3rem;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.slider label {
  width: 6.5rem;
  text-align: right;
}

.slider-group {
  display: flex;
  gap:0.25rem;
  justify-content: center;
  padding: 0.15rem 0;
}

.plot__sizing {
  margin: 2rem 0;
}