@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bullet li::before {
  content: '•'; /* Unicode character for bullet */
  color: #A445ED; /* Your desired bullet color */
  display: inline-block;
  width: 1.5em; /* Adjust width to align bullets */
  margin-left: -1.5rem;
}
