.input-group {
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.scalable-axis {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem
}

