@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  color: #213547;
  background-color: #ffffff;
  max-width: 1280px;
  min-height: 800px;
  height: 95vh;
  width: 95vw;
  margin: auto;
  padding: 0.3em;
  text-align: center;
  background: linear-gradient(-30deg, #B5B5B5, #E8E8E8);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}

h1{
  font-size: 30px;
  font-weight: bold;
  margin: 0px 0px 40px 0px;
}

section{
  margin: 0 auto;
  align-content:center;
  width: 65%;
}
