@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#root {
  /*display: flex;*/
  /*align-items: center;*/
  max-width: 1280px;
  min-height: 800px;
  height: 95vh;
  width: 95vw;
  margin: auto;
  padding: 0.3em;
  text-align: center;
  background: linear-gradient(30deg, lightgray, #ffffff);
  box-sizing: border-box;
  border-radius: 25px
}

h1{
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
}

section{
  align-content:center;
}
