@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

html{
  font-family: "Fira", sans-serif;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#background-light{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#FFFFFF, #C1B69D);
  opacity: 1.0;
}

#background-dark{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#FFFFFF, #655C47);
  opacity: 0.0;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-all: .2s;
  z-index: 3;
  padding: 0;
  margin: 0;
}


.result-modal[open]{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 2.5rem 1.5rem;
  box-sizing: border-box;
  width: 20rem;
  height: 10rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #FDFCF6;

  font-size: 1.0 rem;
  font-weight: 400;
}

.result-modal::backdrop{
  background: rgba(0, 0, 0, 0.5);
}

.result-modal button{
  height: 2.0rem;
  width: 4.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #D88D4E;
  color: white;
  transition: .2s;
}

.result-modal button:hover{
  cursor: pointer;
  background-color: #A94E1F;
}
