@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

html{
  font-family: "Fira", sans-serif;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
